# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.*.local
.allowedMacs.enc
.allowedMacs.json
# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# IDEs and editors
.vscode/
.idea/
*.sw?

# Optional npm cache directory
.npm/

# Debug and profiling tools
*.tgz
.prof
*.heapprofile

# PM2 logs and dumps
pids/
*.pm2
*.log

# TypeScript
*.tsbuildinfo


# mac

